@using Lesson04.Models
@model List<Candidate>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>RazorLoopAndIf</title>
</head>
<body>
    <div class="container m-3">
        <h3 class=mb-3>Candidates (Text, highlight odd)</h3>
        <table class='table table-bordered table-hover table-striped'>
            <tr>
                <th>#</th>
                <th>RegNo</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Clearance</th>
            </tr>

            @{
                var sno = 1;
            }

            @foreach (var c in Model)
            {
                @*var highlight = "";
                if (!c.Clearance)
                {
                    highlight = "table-warning";
                }*@
                var gend = c.Gender.Equals("M") ? "Man" : "Woman" ;
                var cleared = c.Clearance ? "Cleared" : "";
                var highlight = c.RegNo%2==1 ? "table-warning" :"" ;
                
                <tr class="@highlight">
                    <td>@(sno++)</td>
                    <td>@c.RegNo</td>
                    <td>@c.Name</td>
                    <td>@gend</td>
                    <td>@cleared</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
<!--21011435 Damien Foo-->